$background-color: #FDF7F1;
$text-color: #070605;
$border-color: $text-color;
$border-radius: 10px;

$link-height: 60px;
$link-gap-height: 20px;
$link-count: 3;

// In seconds
$profile-animation-duration: .7;

$link-list-animation-delay: $profile-animation-duration;

// Should be the middle of the page
$link-container-height: ($link-height + $link-gap-height) * $link-count / 2;

@font-face {
    font-family: "Poppins";
    src: 
        url("/fonts/Poppins/Poppins-Light.ttf"),
        url("/fonts/Poppins/Poppins-Regular.ttf"),
        url("/fonts/Poppins/Poppins-Medium.ttf"),
        url("/fonts/Poppins/Poppins-Bold.ttf");
}

@mixin transition-for($property) {
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-property: $property;
}

@mixin add-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

$color-map: (
    'white': #FCFCFC,
    'purple': #473666,
    'yellow': #E9DC29,
    'green': #03D391,
    'blue': #A2E2F6,
    'grey': #ACACAC,
    'pink': #FDACC8,
    'red': #ff7579
);

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    color: $text-color;
    
    main {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: $background-color;

        #profile {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            transform: translateY($link-container-height);
            animation-name: move-up;
            animation-duration: #{$profile-animation-duration}s;
            animation-fill-mode: forwards;
            animation-timing-function: ease;

            > .profile-image {
                width: 100px;
                height: 100px;
                background-image: url("/images/profile.png");
                background-position: 50% 50%;
                background-size: 100px 100px;
                background-repeat: no-repeat;
                border-radius: 50%;
                border: 3px solid $border-color;
                cursor: pointer;
                @include transition-for(transform);

                &:hover {
                    transform: rotate(-10deg) scale(1.2);
                }
            }

            > .profile-name {
                margin-block-end: 25px;
            }
        }

        nav {
            display: flex;
            justify-content: center;
            flex-flow: column nowrap;
            row-gap: 20px;
            counter-reset: link;

            .nav-link {
                display: flex;
                align-items: center;
                width: 250px;
                height: 60px;
                border: 3px solid $border-color;
                border-radius: $border-radius;
                color: $text-color;
                text-decoration: none;
                opacity: 0;
                animation: fade-up;
                animation-duration: .5s;
                animation-fill-mode: forwards;
                animation-timing-function: ease;
                @include add-shadow;

                .icon-container {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    height: 100%;
                    color: $background-color;
                    background-color: $text-color;
                }

                .link-body {
                    text-align: center;
                    font-size: larger;
                    font-weight: bold;
                    margin-inline: 1em;

                }

                .link-icon {
                    align-self: center;
                    margin-inline-start: auto;
                    margin-inline-end: 15px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                    opacity: 0;
                    @include transition-for(opacity);
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            @for $index from 1 through $link-count {
                .nav-link:nth-of-type(#{$index}) {
                    animation-delay: #{($index + $link-list-animation-delay) * .12}s;
                }
            }

            @each $key, $value in $color-map {
                .nav-link-#{$key} {
                    background-color: $value;
                }
            }
        }
    }

    footer {
        --width: 130px;
        position: absolute;
        bottom: 0;
        width: var(--width);
        left: calc(calc(100vw / 2) - calc(var(--width) / 2));
    }
}

@keyframes fade-up {
    from {
        transform: translateY(25px);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes move-up {
    from {
        transform: translateY($link-container-height);
    }

    to {
        transform: translateY(0);
    }
}